body {
    padding-top: 50px;
    padding-left: 200px;
    /*margin-top: 50px;
    padding-right: 25px;
    height: 100vh;*/
}

/*main

.logo1

.logo2*/

img {
    height: 100px;
    width: auto;
    /*margin-left: 5px;*/
    border: 1px solid lightslategray;
}
